// Colors

@rosa: #f05a8e;
@texto: #787878;


// Fonts

@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
.ubuntu(@size: 12px, @weight: normal) {
    font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
    font-size: @size;
    font-weight: @weight;
}


// Mixins

.clearfix() {
    *zoom: 1;
    &:before, &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}


// Media Queries

@mobile: ~"only screen and (max-width: 529px)";
@tablet: ~"only screen and (min-width: 530px) and (max-width: 959px)";
@desktop: ~"only screen and (min-width: 960px)";

// Global

.centro {
    width: 940px;
    margin: 0 auto;
    .clearfix();
    @media @tablet {
        width: 90%;
    }
    @media @mobile {
        width: 90%;
    }
}

*, *::after, *::before {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    .ubuntu(14px);
}

::selection {
    background: @rosa;
    color: #fff;
}