html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: url('pattern-cinza.png') repeat;
}

img { margin: 0; padding: 0; border: 0; }

.wrapper {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 50%;
    margin-top: -115px;
}

.rosa {
    width: 100%;
    height: 178px;
    text-align: center;
    background: #ef5289;
    margin: 0;
    padding: 0;
}

.preto {
    width: 100%;
    height: 52px;
    text-align: center;
    background: #231f20;
    margin: 0;
    padding: 0;
}