@import url('http://fonts.googleapis.com/css?family=Ubuntu:300,400,700');
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}
/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}
/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}
/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}
/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}
/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}
/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.centro {
  width: 940px;
  margin: 0 auto;
  *zoom: 1;
}
.centro:before,
.centro:after {
  content: " ";
  display: table;
}
.centro:after {
  clear: both;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .centro {
    width: 90%;
  }
}
@media only screen and (max-width: 529px) {
  .centro {
    width: 90%;
  }
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
}
::-moz-selection {
  background: #f05a8e;
  color: #fff;
}
::selection {
  background: #f05a8e;
  color: #fff;
}
header {
  height: 147px;
  background: url('../img/header-bg.png') no-repeat center top #ffffff;
  border-top: 3px solid #f05a8e;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  position: relative;
  z-index: 12;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header {
    height: auto;
    background: #fff;
  }
}
header a.logo {
  display: block;
  width: 233px;
  height: 100px;
  float: left;
  margin-top: 32px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header a.logo {
    width: 100%;
    height: auto;
    display: inline;
    text-align: center;
    margin-bottom: 10px;
  }
  header a.logo img {
    max-width: 233px;
    min-width: 170px;
    width: 40%;
    height: auto;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  header a.logo {
    margin-bottom: 25px;
  }
}
header a.facebook {
  display: block;
  text-indent: -9999px;
  width: 38px;
  height: 30px;
  background: url('../img/facebook-header.png') no-repeat center;
  margin: 87px 0 0 15px;
  float: left;
  transition: background-image 0.3s ease;
}
header a.facebook:hover {
  background-image: url('../img/facebook-header-hover.png');
}
@media only screen and (max-width: 529px) {
  header a.facebook {
    display: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  header a.facebook {
    float: right;
    margin: 3px 0 0;
  }
}
header a.instagram {
  display: block;
  text-indent: -9999px;
  width: 38px;
  height: 30px;
  background: url('../img/instagram-header.png') no-repeat center;
  margin: 87px 0 0 15px;
  float: left;
  transition: background-image 0.3s ease;
}
header a.instagram:hover {
  background-image: url('../img/instagram-header-hover.png');
}
@media only screen and (max-width: 529px) {
  header a.instagram {
    display: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  header a.instagram {
    float: right;
    margin: 3px 5px 0 0;
  }
}
header nav {
  float: left;
  margin: 75px 0 0 42px;
  height: 69px;
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header nav {
    text-align: center;
    height: auto;
    float: none;
    margin: 0 0 20px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  header nav {
    margin-bottom: 30px;
  }
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
header nav ul li {
  display: inline-block;
  height: 100%;
}
@media only screen and (max-width: 529px) {
  header nav ul li {
    display: block;
  }
}
header nav ul li a {
  display: inline-block;
  position: relative;
  margin: 0 20px;
  padding-top: 15px;
  text-decoration: none;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: light;
  color: #f05a8e;
  transition: color .3s ease;
}
@media only screen and (max-width: 529px) {
  header nav ul li a {
    font-size: 16px;
  }
}
header nav ul li a:hover {
  color: #000;
}
header nav ul li a.active {
  color: #000;
  background: url('../img/header-nav-active.png') no-repeat center top;
}
@media only screen and (max-width: 529px) {
  header nav ul li a.active {
    background: none;
  }
}
header nav ul li.dropdown {
  position: relative;
  z-index: 999;
}
header nav ul li.dropdown a {
  padding-right: 15px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header nav ul li.dropdown a {
    padding-right: 0;
  }
}
header nav ul li.dropdown a:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: 7px;
  width: 7px;
  height: 4px;
  background: url('../img/icone-dropdown.png') no-repeat center;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header nav ul li.dropdown a:after {
    display: none;
  }
}
header nav ul li.dropdown:hover > ul {
  height: auto;
  opacity: 1;
  padding: 18px 0px 3px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header nav ul li.dropdown:hover > ul {
    display: none;
  }
}
header nav ul li.dropdown ul li a {
  display: block;
  padding: 3px 18px;
  margin-bottom: 6px;
  transition: all .3s ease;
}
header nav ul li.dropdown ul li a:after {
  display: none;
}
header nav ul li.dropdown ul li a:hover {
  color: #fff;
  background-color: #f05a8e;
}
header nav ul li ul {
  white-space: nowrap;
  transition: all .3s ease;
  position: absolute;
  z-index: 13;
  top: 69px;
  background: #000;
  padding: 0;
  outline: 5px solid rgba(255, 255, 255, 0.4);
  opacity: 0;
  height: 0;
  overflow: hidden;
}
header nav ul li ul li a {
  color: #f05a8e;
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  display: block;
  transition: color .3s ease;
  margin: 0 0 12px;
}
header nav ul li ul li a:hover {
  color: #fff;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header nav {
    float: none;
  }
}
header form {
  width: 178px;
  height: 36px;
  border: 1px solid #f6abc5;
  float: right;
  margin-top: 83px;
  position: relative;
}
header form input[type='submit'] {
  border: 0;
  width: 36px;
  height: 36px;
  background: url('../img/icone-busca.png') no-repeat center;
  position: absolute;
  right: 1px;
  top: -1px;
  outline: none;
  transition: background-image 0.3s ease;
}
header form input[type='submit']:hover {
  background-image: url('../img/icone-busca-hover.png');
}
header form input[type='text'] {
  color: #787878;
  border: 0;
  outline: none;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 34px;
  width: 140px;
  padding-left: 10px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  header form {
    width: 70%;
    margin: 0 15% 25px;
    float: none;
    clear: both;
  }
  header form input[type='text'] {
    width: 92%;
  }
}
@media only screen and (max-width: 529px) {
  header form input[type='text'] {
    width: 85%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  header form {
    width: 83%;
    clear: none;
    float: left;
    margin: 0 0 25px;
  }
}
footer {
  background: #000;
  border-top: 3px solid #f05a8e;
  padding: 45px 0;
  min-height: 238px;
}
footer .centro {
  position: relative;
}
footer .left {
  position: absolute;
  left: 0;
  top: 0;
}
@media only screen and (max-width: 529px) {
  footer .left {
    display: none;
  }
}
footer .left nav a {
  display: block;
  position: relative;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
  padding-left: 20px;
  margin-bottom: 8px;
  color: #f05a8e;
  text-decoration: none;
  transition: color .3s ease;
}
footer .left nav a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 6px;
  width: 3px;
  height: 5px;
  background: url('../img/footer-bullet.png') no-repeat center;
}
footer .left nav a:hover {
  color: #fff;
}
footer .left .copyright {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #4c4c4c;
  margin-top: 35px;
}
footer .link-rodape {
  padding-top: 15px;
}
footer .link-rodape a {
  display: block;
  margin: 0 auto;
  max-width: 118px;
  max-height: 110px;
}
@media only screen and (max-width: 529px) {
  footer .link-rodape {
    display: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  footer .link-rodape {
    display: none;
  }
}
footer .right {
  position: absolute;
  right: 0;
  top: 0;
}
@media only screen and (max-width: 529px) {
  footer .right {
    float: none;
    text-align: center;
    position: relative;
  }
}
footer .right .facebook {
  display: block;
  float: right;
  text-indent: -9999px;
  width: 38px;
  height: 30px;
  background: url('../img/facebook-footer.png') no-repeat center;
  transition: background-image 0.3s ease;
}
@media only screen and (max-width: 529px) {
  footer .right .facebook {
    float: none;
    margin: 0 auto 15px;
  }
}
footer .right .facebook:hover {
  background-image: url('../img/facebook-footer-hover.png');
}
footer .right .instagram {
  display: block;
  float: right;
  text-indent: -9999px;
  width: 38px;
  height: 30px;
  margin-left: 15px;
  background: url('../img/instagram-footer.png') no-repeat center;
  transition: background-image 0.3s ease;
}
@media only screen and (max-width: 529px) {
  footer .right .instagram {
    float: none;
    margin: 0 auto 15px;
  }
}
footer .right .instagram:hover {
  background-image: url('../img/instagram-footer-hover.png');
}
footer .right .email {
  position: relative;
  padding-left: 25px;
  margin: 25px 0 45px;
  clear: right;
  float: right;
  color: #f05a8e;
  text-decoration: none;
  transition: color .3s ease;
}
@media only screen and (max-width: 529px) {
  footer .right .email {
    float: none;
    padding: 0;
  }
}
footer .right .email:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 4px;
  width: 13px;
  height: 9px;
  background: url('../img/icone-email.png') no-repeat center;
}
@media only screen and (max-width: 529px) {
  footer .right .email:before {
    display: none;
  }
}
footer .right .email:hover {
  color: #fff;
}
footer .right .copyright {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: normal;
  clear: right;
  float: right;
  position: relative;
  padding-right: 30px;
}
@media only screen and (max-width: 529px) {
  footer .right .copyright {
    float: none;
    padding: 0;
    margin-top: 20px;
  }
}
footer .right .copyright:after {
  content: '';
  display: block;
  position: absolute;
  width: 19px;
  height: 15px;
  right: 0;
  top: -2px;
  background: url('../img/trupe.png') no-repeat center;
}
@media only screen and (max-width: 529px) {
  footer .right .copyright:after {
    display: none;
  }
}
footer .right .copyright a {
  color: #4c4c4c;
  text-decoration: none;
  transition: color .3s ease;
}
footer .right .copyright a:hover {
  color: #8c8c8c;
}
.home-carousel-show {
  background: url('../img/pattern-rosa.png') repeat #f05a8e;
  height: auto;
  padding: 30px 0;
}
.home-carousel-show .adz-premium {
  width: 100%;
  max-width: 940px;
  height: auto;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 15px;
}
.home-carousel-show .adz-premium .adz {
  width: 100%;
  max-width: 940px;
  height: auto;
  max-height: 90px;
}
.home-carousel-show .adz-premium .adz object {
  width: 100%;
  max-width: 940px;
  height: auto;
  max-height: 90px;
}
.home-carousel-show .adz-premium .adz a {
  display: block;
  width: 100%;
  max-width: 940px;
  height: auto;
  max-height: 90px;
}
.home-carousel-show .adz-premium .adz a img {
  display: block;
  width: 100%;
  max-width: 940px;
  height: auto;
  max-height: 90px;
}
.home-carousel-show .carousel-video {
  float: left;
  width: 640px;
  height: 355px;
  position: relative;
  background: url('../img/ajax-loader.gif') no-repeat center #ffffff;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.75);
}
.home-carousel-show .carousel-video iframe {
  position: relative;
  z-index: 10;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-show .carousel-video {
    float: none;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 0;
  }
  .home-carousel-show .carousel-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.home-carousel-show .carousel-dados {
  width: 300px;
  height: 355px;
  position: relative;
  float: right;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-show .carousel-dados {
    width: 100%;
    height: auto;
    float: none;
    margin-top: 30px;
  }
}
.home-carousel-show .carousel-dados p {
  margin: 0;
  padding: 0 0 0 40px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-show .carousel-dados p {
    padding: 0;
  }
}
.home-carousel-show .carousel-dados p.data {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #8b3352;
  margin-top: 10px;
  margin-bottom: 15px;
}
.home-carousel-show .carousel-dados p.titulo {
  position: relative;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 40px;
}
@media only screen and (max-width: 529px) {
  .home-carousel-show .carousel-dados p.titulo {
    font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
}
.home-carousel-show .carousel-dados p.titulo:after {
  content: '';
  display: block;
  position: absolute;
  left: 40px;
  bottom: -20px;
  width: 20px;
  height: 1px;
  background: #bb466e;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-show .carousel-dados p.titulo:after {
    left: 0;
  }
}
.home-carousel-show .carousel-dados p.descricao {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #8b3352;
  line-height: 1.3;
}
.home-carousel-show .carousel-dados p.descricao a {
  color: #000;
  text-decoration: none;
  transition: all .3s ease;
}
.home-carousel-show .carousel-dados p.descricao a:hover {
  color: #f05a8e;
}
.home-carousel-show .carousel-dados .compartilhe {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 267px;
  height: 36px;
  background: url('../img/compartilhe-box.png') no-repeat center;
  margin-top: 12px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-show .carousel-dados .compartilhe {
    position: relative;
    margin: 25px 0 0;
  }
}
.home-carousel-show .carousel-dados .compartilhe p {
  margin: 0;
  padding: 0 2px 0 25px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #f8bcd0;
  line-height: 36px;
  float: left;
}
.home-carousel-show .carousel-dados .compartilhe a {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 36px;
  text-indent: -9999px;
  transition: background .3s ease;
}
.home-carousel-show .carousel-dados .compartilhe a.facebook {
  background: url('../img/compartilhe-facebook.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.facebook:hover {
  background: url('../img/compartilhe-facebook-hover.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.twitter {
  background: url('../img/compartilhe-twitter.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.twitter:hover {
  background: url('../img/compartilhe-twitter-hover.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.pinterest {
  background: url('../img/compartilhe-pinterest.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.pinterest:hover {
  background: url('../img/compartilhe-pinterest-hover.png') no-repeat center;
}
.home-carousel-show .carousel-dados .compartilhe a.pinterest:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 9px;
  top: 13px;
  right: -4px;
  background: #f27ba4;
}
.home-carousel-show .carousel-dados .compartilhe .fb-wrapper {
  width: 56px;
  height: 21px;
  float: right;
  margin: 8px 58px 0 0;
}
.home-carousel-show .carousel-dados .compartilhe .fb-wrapper .fb-like {
  width: 56px;
  height: 21px;
}
.home-carousel-show .carousel-dados .compartilhe .fb-wrapper .fb-like span {
  width: 56px;
  height: 21px;
}
.home-carousel-list {
  background: #1e1e1e;
  height: 165px;
  padding: 25px 0;
}
@media only screen and (max-width: 529px) {
  .home-carousel-list {
    display: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-list {
    height: auto;
  }
}
.home-carousel-list .carousel .carousel-thumb {
  width: 190px;
  height: 115px;
  margin: 0 10px;
  overflow: hidden;
}
.home-carousel-list .carousel .carousel-thumb img {
  max-height: 100%;
}
.home-carousel-list .carousel .carousel-thumb.active a .carousel-overlay,
.home-carousel-list .carousel .carousel-thumb:hover a .carousel-overlay {
  background: rgba(240, 90, 142, 0.8);
}
.home-carousel-list .carousel .carousel-thumb.active a .carousel-overlay:after,
.home-carousel-list .carousel .carousel-thumb:hover a .carousel-overlay:after {
  opacity: 1;
  background-position: 50% 40%;
}
.home-carousel-list .carousel .carousel-thumb.active a img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.home-carousel-list .carousel .carousel-thumb a {
  display: block;
  width: 185px;
  height: 115px;
  position: relative;
}
.home-carousel-list .carousel .carousel-thumb a:hover .carousel-overlay {
  border: 2px solid #f05a8e;
}
.home-carousel-list .carousel .carousel-thumb a:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.home-carousel-list .carousel .carousel-thumb a img {
  max-height: 100%;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
.home-carousel-list .carousel .carousel-thumb a .carousel-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  top: 0;
  left: 0;
  background: url('../img/carousel-degrade.png') no-repeat center;
  transition: border .3s ease, background .3s ease;
  transition: all .3s ease;
}
.home-carousel-list .carousel .carousel-thumb a .carousel-overlay p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 0 8px 8px;
  margin: 0;
}
.home-carousel-list .carousel .carousel-thumb a .carousel-overlay:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/icone-play-menor.png') no-repeat center top;
  opacity: 0;
  transition: all .3s ease;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .home-carousel-list .carousel .carousel-thumb {
    margin: 0 5px;
  }
  .home-carousel-list .carousel .carousel-thumb,
  .home-carousel-list .carousel .carousel-thumb a {
    width: 100%;
    height: auto;
  }
  .home-carousel-list .carousel .carousel-thumb img {
    max-width: 100%;
    height: auto;
  }
  .home-carousel-list .carousel .carousel-overlay {
    background: none;
  }
  .home-carousel-list .carousel .carousel-overlay p {
    display: none;
  }
}
.outros-destaques {
  font-size: 0;
  margin-top: 45px;
}
.outros-destaques .listaOutrosDestaques {
  display: inline-block;
  vertical-align: top;
  width: 71%;
  margin-right: 2%;
  border-bottom: 2px #f05a8e solid;
  padding-bottom: 20px;
}
@media only screen and (max-width: 529px) {
  .outros-destaques .listaOutrosDestaques {
    width: 100%;
  }
}
.outros-destaques .listaOutrosDestaques h2 {
  margin-top: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  background: #f05a8e;
  color: #fff;
  margin-bottom: 20px;
  display: block;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: normal;
}
.outros-destaques .listaOutrosDestaques .outroDestaque {
  width: 50%;
  display: inline-block;
}
.outros-destaques .listaOutrosDestaques .outroDestaque:nth-child(odd) a {
  float: right;
}
.outros-destaques .listaOutrosDestaques .outroDestaque:nth-child(n+4) {
  margin-top: 18px;
}
.outros-destaques .listaOutrosDestaques .outroDestaque:hover a .outroDestaque-overlay {
  background: rgba(240, 90, 142, 0.8);
}
.outros-destaques .listaOutrosDestaques .outroDestaque:hover a .outroDestaque-overlay:after {
  opacity: 1;
  background-position: 50% 50%;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a {
  width: 97%;
  display: block;
  height: auto;
  position: relative;
  overflow: hidden;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a img {
  width: 100%;
  display: block;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a:hover .outroDestaque-overlay {
  border: 2px solid #f05a8e;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a:hover img {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.outros-destaques .listaOutrosDestaques .outroDestaque a img {
  max-height: 100%;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a .outroDestaque-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  top: 0;
  left: 0;
  background: url('../img/carousel-degrade.png') no-repeat center;
  background-size: cover;
  transition: border .3s ease, background .3s ease;
  transition: all .3s ease;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a .outroDestaque-overlay p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 0 8px 8px;
  margin: 0;
}
.outros-destaques .listaOutrosDestaques .outroDestaque a .outroDestaque-overlay:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/icone-play-menor.png') no-repeat center top;
  opacity: 0;
  transition: all .3s ease;
}
.outros-destaques .adz-laterais-home {
  display: inline-block;
  vertical-align: top;
  width: 27%;
  max-width: 250px;
}
@media only screen and (max-width: 529px) {
  .outros-destaques .adz-laterais-home {
    width: 100%;
    display: block;
    margin: 15px auto;
  }
}
.outros-destaques .adz-laterais-home .adz-laterais.marginb {
  margin-bottom: 15px;
}
.outros-destaques .adz-laterais-home .adz {
  width: 100%;
}
.outros-destaques .adz-laterais-home .adz.adz-laterais-g,
.outros-destaques .adz-laterais-home .adz.adz-laterais-g object {
  width: 250px;
  height: 250px;
}
.outros-destaques .adz-laterais-home .adz.adz-laterais-m,
.outros-destaques .adz-laterais-home .adz.adz-laterais-m object {
  width: 250px;
  height: 200px;
}
.outros-destaques .adz-laterais-home .adz object {
  width: 100%;
  height: auto;
}
.outros-destaques .adz-laterais-home .adz a {
  display: block;
  width: 100%;
}
.outros-destaques .adz-laterais-home .adz a img {
  display: block;
  width: 100%;
}
.home-social {
  padding: 40px 0 80px;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .home-social {
    text-align: center;
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 529px) {
  .home-social {
    padding-bottom: 30px;
  }
}
.home-social .fb-like-box {
  float: left;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .home-social .fb-like-box {
    float: none;
  }
}
.home-social .fb_iframe_widget,
.home-social .fb_iframe_widget span,
.home-social .fb_iframe_widget span iframe[style] {
  width: 300px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-social .fb_iframe_widget,
  .home-social .fb_iframe_widget span,
  .home-social .fb_iframe_widget span iframe[style] {
    width: 100% !important;
  }
}
.home-social .home-newsletter {
  width: 470px;
  float: right;
}
.home-social .home-newsletter h3 {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-weight: 300;
  color: #f05a8e;
  text-align: center;
}
.home-social .home-newsletter form {
  width: 360px;
  margin: 0 auto;
}
.home-social .home-newsletter form input[type='text'],
.home-social .home-newsletter form input[type='email'] {
  height: 44px;
  border: 1px solid #f6abc5;
  outline: none;
  width: 298px;
  float: left;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #787878;
  padding-left: 10px;
}
.home-social .home-newsletter form input[type='submit'] {
  width: 52px;
  height: 98px;
  background: url('../img/icone-newsletter.png') no-repeat center #f05a8e;
  border: 0;
  outline: 0;
  transition: background .3s ease;
}
.home-social .home-newsletter form input[type='submit']:hover {
  background-color: #000;
}
.home-social .home-newsletter .newsletter-response {
  display: none;
  text-align: center;
  margin-top: 50px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .home-social .home-newsletter .newsletter-response {
    margin: 15px 30px;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .home-social .home-newsletter {
    width: 100%;
    margin-top: 20px;
  }
  .home-social .home-newsletter form {
    width: 90%;
  }
  .home-social .home-newsletter form input[type='text'],
  .home-social .home-newsletter form input[type='email'] {
    width: 43%;
    margin-bottom: 4%;
    margin-right: 2%;
  }
  .home-social .home-newsletter form input[type='submit'] {
    width: 10%;
    height: 44px;
  }
}
@media only screen and (max-width: 529px) {
  .home-social .home-newsletter {
    margin-top: 5%;
    width: 100%;
    text-align: center;
  }
  .home-social .home-newsletter form {
    width: 100%;
  }
  .home-social .home-newsletter form input[type='text'],
  .home-social .home-newsletter form input[type='email'] {
    width: 80%;
    margin-bottom: 10px;
    margin-right: 3%;
  }
  .home-social .home-newsletter form input[type='submit'] {
    width: 17%;
  }
}
.empresa-video {
  background: url('../img/pattern-cinza.png') repeat;
  padding: 30px 0;
  border-bottom: 1px solid #e5e5e5;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .empresa-video .empresa-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 0;
  }
  .empresa-video .empresa-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.empresa-texto {
  padding: 30px 0 30px;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .empresa-texto {
    padding-bottom: 40px;
  }
}
.empresa-texto h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #f05a8e;
}
.empresa-texto p {
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  color: #787878;
  width: 460px;
  margin: 15px 0 0;
}
.empresa-texto p.left {
  float: left;
}
.empresa-texto p.right {
  float: right;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .empresa-texto p {
    width: 100%;
    float: none !important;
  }
}
.empresa-texto p a {
  text-decoration: none;
  font-weight: bold;
  transition: color .3s ease;
}
.empresa-texto p a:active,
.empresa-texto p a:visited {
  color: #000;
}
.empresa-texto p a:hover {
  color: #f05a8e;
}
.contem-compartilhe {
  clear: both;
  padding: 10px 0;
  margin: 30px 0 0 0;
  background: #f05a8e;
}
.contem-compartilhe .compartilhe {
  position: relative;
  width: 267px;
  height: 36px;
  background: url('../img/compartilhe-box.png') no-repeat center;
  margin: 0 auto;
  font-size: 0;
}
.contem-compartilhe .compartilhe p {
  margin: 0;
  padding: 0 2px 0 25px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #f8bcd0;
  line-height: 36px;
  float: left;
  width: auto;
}
.contem-compartilhe .compartilhe a {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 36px;
  text-indent: -9999px;
  transition: background .3s ease;
}
.contem-compartilhe .compartilhe a.facebook {
  background: url('../img/compartilhe-facebook.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.facebook:hover {
  background: url('../img/compartilhe-facebook-hover.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.twitter {
  background: url('../img/compartilhe-twitter.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.twitter:hover {
  background: url('../img/compartilhe-twitter-hover.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.pinterest {
  background: url('../img/compartilhe-pinterest.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.pinterest:hover {
  background: url('../img/compartilhe-pinterest-hover.png') no-repeat center;
}
.contem-compartilhe .compartilhe a.pinterest:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 9px;
  top: 13px;
  right: -4px;
  background: #f27ba4;
}
.contem-compartilhe .compartilhe .fb-wrapper {
  width: 56px;
  height: 21px;
  float: right;
  margin: 8px 58px 0 0;
}
.contem-compartilhe .compartilhe .fb-wrapper .fb-like {
  width: 56px;
  height: 21px;
}
.contem-compartilhe .compartilhe .fb-wrapper .fb-like span {
  width: 56px;
  height: 21px;
}
.videos {
  padding: 30px 0 45px;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .videos {
    padding-bottom: 20px;
  }
}
.videos .videos-thumb {
  width: 303px;
  min-height: 300px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 300px;
  margin-right: 12px;
  margin-bottom: 15px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}
.videos .videos-thumb:hover .video-thumb img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.videos .videos-thumb:hover .video-thumb .overlay {
  opacity: .8;
}
.videos .videos-thumb:hover .video-thumb .overlay:after {
  opacity: 1;
  background-position: center;
}
.videos .videos-thumb:hover .video-descricao {
  color: #f05a8e;
}
.videos .videos-thumb:nth-child(2n+2) {
  margin-right: 0;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .videos .videos-thumb {
    width: 47%;
    min-height: 100%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 4%;
  }
  .videos .videos-thumb:nth-child(3n+3) {
    margin-right: 5%;
  }
  .videos .videos-thumb:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 529px) {
  .videos .videos-thumb {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 8%;
  }
}
.videos .videos-thumb .video-descricao {
  line-height: 1.4;
  color: #000;
  transition: color .3s ease;
}
.videos .videos-thumb .video-descricao p {
  margin-top: 10px;
}
.videos .videos-thumb .video-descricao span {
  color: #f05a8e;
  display: block;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 5px;
}
.videos .videos-thumb .video-thumb {
  position: relative;
  width: 302px;
  height: 182px;
  display: block;
  overflow: hidden;
}
.videos .videos-thumb .video-thumb img {
  transition: all .6s ease;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .videos .videos-thumb .video-thumb {
    width: 100%;
    height: auto;
  }
  .videos .videos-thumb .video-thumb img {
    width: 100%;
    height: auto;
  }
}
.videos .videos-thumb .video-thumb .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f05a8e;
  opacity: 0;
  transition: all .3s ease;
}
.videos .videos-thumb .video-thumb .overlay:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/icone-play.png') no-repeat center top;
  opacity: 0;
  transition: all .3s ease;
}
.videos .coluna-esquerda {
  width: 69%;
  margin-right: 2%;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 529px) {
  .videos .coluna-esquerda {
    width: 100%;
    display: block;
    margin: 0;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .videos .coluna-esquerda {
    margin-right: 0;
  }
}
.videos .coluna-direita {
  width: 28.6%;
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  box-sizing: border-box;
}
@media only screen and (max-width: 529px) {
  .videos .coluna-direita {
    width: 100%;
    display: block;
    margin: 15px auto;
  }
}
.videos .coluna-direita .adz-laterais-internas {
  max-width: 250px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 529px) {
  .videos .coluna-direita .adz-laterais-internas {
    width: 100%;
    display: block;
    margin: 15px auto;
  }
}
.videos .coluna-direita .adz-laterais-internas .adz-laterais.marginb {
  margin-bottom: 15px;
}
.videos .coluna-direita .adz-laterais-internas .adz-laterais .adz + .adz {
  margin-top: 10px;
}
.videos .coluna-direita .adz-laterais-internas .adz {
  width: 100%;
}
.videos .coluna-direita .adz-laterais-internas .adz.adz-laterais-g,
.videos .coluna-direita .adz-laterais-internas .adz.adz-laterais-g object {
  width: 250px;
  height: 250px;
}
.videos .coluna-direita .adz-laterais-internas .adz.adz-laterais-m,
.videos .coluna-direita .adz-laterais-internas .adz.adz-laterais-m object {
  width: 250px;
  height: 200px;
}
.videos .coluna-direita .adz-laterais-internas .adz object {
  width: 100%;
  height: auto;
}
.videos .coluna-direita .adz-laterais-internas .adz a {
  display: block;
  width: 100%;
}
.videos .coluna-direita .adz-laterais-internas .adz a img {
  display: block;
  width: 100%;
}
.videos-paginacao {
  position: relative;
  background: url('../img/pattern-cinza.png') repeat;
  padding: 25px 0 80px;
  border-top: 1px solid #e5e5e5;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-paginacao {
    padding-bottom: 50px;
  }
}
.videos-paginacao a {
  position: relative;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #787878;
  text-decoration: none;
  transition: color .3s ease, padding .3s ease;
}
.videos-paginacao a:hover {
  color: #f05a8e;
}
.videos-paginacao a.anteriores {
  float: left;
  width: 150px;
}
.videos-paginacao a.anteriores:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 5px;
  left: 0;
  top: 6px;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../img/seta-anterior.png') no-repeat center;
}
.videos-paginacao a.anteriores:hover {
  padding-left: 25px;
}
.videos-paginacao a.anteriores:hover:before {
  opacity: 1;
}
.videos-paginacao a.proximos {
  width: 150px;
  float: right;
  text-align: right;
}
.videos-paginacao a.proximos:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 5px;
  right: 0;
  top: 6px;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../img/seta-proximo.png') no-repeat center;
}
.videos-paginacao a.proximos:hover {
  padding-right: 25px;
}
.videos-paginacao a.proximos:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-paginacao a {
    font-size: 13px;
  }
  .videos-paginacao a.proximos,
  .videos-paginacao a.anteriores {
    width: 50%;
  }
  .videos-paginacao a.proximos:before,
  .videos-paginacao a.anteriores:before {
    opacity: 1;
    top: 22px;
  }
  .videos-paginacao a.proximos:hover,
  .videos-paginacao a.anteriores:hover {
    padding: 0;
  }
}
.videos-paginacao nav {
  float: left;
  width: 640px;
  text-align: center;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .videos-paginacao nav {
    display: none;
  }
}
.videos-paginacao nav a {
  display: inline-block;
  margin: 2px 2px 0;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  border: 2px solid #f05a8e;
  border-radius: 100%;
  transition: background .3s ease;
}
.videos-paginacao nav a.active {
  background: #f05a8e;
}
.videos-paginacao nav a:hover {
  background: #f05a8e;
}
.categoria-titulo {
  height: 80px;
  background: url('../img/pattern-cinza.png') repeat 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}
.categoria-titulo img {
  float: left;
  margin-top: 22px;
  margin-right: 15px;
}
.categoria-titulo h2 {
  margin: 0;
  padding: 0;
  color: #f05a8e;
  line-height: 80px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.videos-categorias {
  width: 624px;
  float: left;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias {
    width: 100%;
    float: none;
  }
}
.videos-categorias .videos-thumb {
  width: 302px;
  min-height: 300px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 300px;
  margin-right: 12px;
  margin-bottom: 15px;
  text-decoration: none;
}
.videos-categorias .videos-thumb:hover .video-thumb img {
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
}
.videos-categorias .videos-thumb:hover .video-thumb .overlay {
  opacity: .8;
}
.videos-categorias .videos-thumb:hover .video-thumb .overlay:after {
  opacity: 1;
  background-position: center;
}
.videos-categorias .videos-thumb:hover .video-descricao {
  color: #f05a8e;
}
.videos-categorias .videos-thumb:nth-child(2n+2) {
  margin-right: 0;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias .videos-thumb {
    width: 47%;
    min-height: 100%;
    height: auto;
    margin-right: 5%;
    margin-bottom: 4%;
  }
  .videos-categorias .videos-thumb:nth-child(3n+3) {
    margin-right: 5%;
  }
  .videos-categorias .videos-thumb:nth-child(2n+2) {
    margin-right: 0;
  }
}
@media only screen and (max-width: 529px) {
  .videos-categorias .videos-thumb {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 8%;
  }
}
.videos-categorias .videos-thumb .video-descricao {
  line-height: 1.4;
  color: #000;
  transition: color .3s ease;
}
.videos-categorias .videos-thumb .video-descricao p {
  margin-top: 10px;
}
.videos-categorias .videos-thumb .video-descricao span {
  color: #f05a8e;
  display: block;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  margin-bottom: 5px;
}
.videos-categorias .videos-thumb .video-thumb {
  position: relative;
  width: 302px;
  height: 182px;
  display: block;
  overflow: hidden;
}
.videos-categorias .videos-thumb .video-thumb img {
  transition: all .6s ease;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .videos-categorias .videos-thumb .video-thumb {
    width: 100%;
    height: auto;
  }
  .videos-categorias .videos-thumb .video-thumb img {
    width: 100%;
    height: auto;
  }
}
.videos-categorias .videos-thumb .video-thumb .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f05a8e;
  opacity: 0;
  transition: all .3s ease;
}
.videos-categorias .videos-thumb .video-thumb .overlay:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: url('../img/icone-play.png') no-repeat center top;
  opacity: 0;
  transition: all .3s ease;
}
.videos-categorias .videos-categorias-paginacao {
  width: 628px;
  padding: 25px 0 80px;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  clear: both;
  float: left;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias .videos-categorias-paginacao {
    width: 100%;
    float: none;
  }
}
.videos-categorias .videos-categorias-paginacao a {
  position: relative;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #787878;
  text-decoration: none;
  transition: color .3s ease, padding .3s ease;
}
.videos-categorias .videos-categorias-paginacao a:hover {
  color: #f05a8e;
}
.videos-categorias .videos-categorias-paginacao a.anteriores {
  float: left;
  width: 150px;
}
.videos-categorias .videos-categorias-paginacao a.anteriores:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 5px;
  left: 0;
  top: 6px;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../img/seta-anterior.png') no-repeat center;
}
.videos-categorias .videos-categorias-paginacao a.anteriores:hover {
  padding-left: 25px;
}
.videos-categorias .videos-categorias-paginacao a.anteriores:hover:before {
  opacity: 1;
}
.videos-categorias .videos-categorias-paginacao a.proximos {
  width: 150px;
  float: right;
  text-align: right;
}
.videos-categorias .videos-categorias-paginacao a.proximos:before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 5px;
  right: 0;
  top: 6px;
  opacity: 0;
  transition: opacity .3s ease;
  background: url('../img/seta-proximo.png') no-repeat center;
}
.videos-categorias .videos-categorias-paginacao a.proximos:hover {
  padding-right: 25px;
}
.videos-categorias .videos-categorias-paginacao a.proximos:hover:before {
  opacity: 1;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias .videos-categorias-paginacao a {
    font-size: 13px;
  }
  .videos-categorias .videos-categorias-paginacao a.proximos,
  .videos-categorias .videos-categorias-paginacao a.anteriores {
    width: 50%;
  }
  .videos-categorias .videos-categorias-paginacao a.proximos:before,
  .videos-categorias .videos-categorias-paginacao a.anteriores:before {
    opacity: 1;
    top: 22px;
  }
  .videos-categorias .videos-categorias-paginacao a.proximos:hover,
  .videos-categorias .videos-categorias-paginacao a.anteriores:hover {
    padding: 0;
  }
}
.videos-categorias .videos-categorias-paginacao nav {
  float: left;
  width: 328px;
  text-align: center;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias .videos-categorias-paginacao nav {
    display: none;
  }
}
.videos-categorias .videos-categorias-paginacao nav a {
  display: inline-block;
  margin: 2px 2px 0;
  text-indent: -9999px;
  width: 11px;
  height: 11px;
  border: 2px solid #f05a8e;
  border-radius: 100%;
  transition: background .3s ease;
}
.videos-categorias .videos-categorias-paginacao nav a.active {
  background: #f05a8e;
}
.videos-categorias .videos-categorias-paginacao nav a:hover {
  background: #f05a8e;
}
.videos-categorias-aside {
  width: 260px;
  float: right;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .videos-categorias-aside {
    display: none;
  }
}
.videos-categorias-aside .categorias h3 {
  margin: 0;
  padding: 0 0 0 12px;
  line-height: 40px;
  width: 260px;
  height: 40px;
  background: #f05a8e;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
.videos-categorias-aside .categorias a {
  position: relative;
  display: block;
  color: #787878;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  text-decoration: none;
  transition: color .3s ease, padding .3s ease;
}
.videos-categorias-aside .categorias a:before {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 3px;
  left: 15px;
  top: 21px;
  background: url('../img/bullet-categorias.png') no-repeat center;
  opacity: 0;
  transition: opacity .3s ease;
}
.videos-categorias-aside .categorias a:hover {
  color: #f05a8e;
  padding-left: 32px;
}
.videos-categorias-aside .categorias a:hover:before {
  opacity: 1;
}
.videos-categorias-aside .categorias a.active {
  color: #f05a8e;
  background: #f2f2f2;
  padding-left: 32px;
}
.videos-categorias-aside .categorias a.active:before {
  opacity: 1;
}
.video-interna-player {
  background: #1e1e1e;
  padding: 30px 0;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .video-interna-player {
    padding: 4.5% 0;
  }
}
.video-interna-player iframe {
  position: relative;
  z-index: 10;
}
.video-interna-player iframe.acima {
  z-index: 99;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .video-interna-player .video-interna-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: 0;
  }
  .video-interna-player .video-interna-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.94);
  z-index: 90;
  display: none;
}
.video-interna-faixa {
  height: 60px;
  background: url('../img/pattern-rosa.png') repeat #f05a8e;
}
.video-interna-faixa .luzes {
  position: relative;
  z-index: 99;
  float: left;
  color: #000;
  text-decoration: none;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 60px;
  padding-left: 45px;
  background: url('../img/luzes-apagar.png') no-repeat 0 10px;
  transition: margin .2s ease;
}
@media only screen and (max-width: 529px) {
  .video-interna-faixa .luzes {
    display: none;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-faixa .luzes {
    text-indent: -9999px;
  }
}
.video-interna-faixa .luzes.acender {
  background: url('../img/luzes-acender.png') no-repeat 0 10px;
  color: #948f91;
}
.video-interna-faixa .luzes:hover {
  margin-top: -3px;
}
.video-interna-faixa .compartilhe {
  position: relative;
  float: right;
  width: 267px;
  height: 36px;
  background: url('../img/compartilhe-box.png') no-repeat center;
  margin-top: 12px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-faixa .compartilhe {
    float: none;
    margin: 12px auto 0;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-faixa .compartilhe {
    float: right;
  }
}
.video-interna-faixa .compartilhe p {
  margin: 0;
  padding: 0 2px 0 25px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #f8bcd0;
  line-height: 36px;
  float: left;
}
.video-interna-faixa .compartilhe a {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 36px;
  text-indent: -9999px;
  transition: background .3s ease;
}
.video-interna-faixa .compartilhe a.facebook {
  background: url('../img/compartilhe-facebook.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.facebook:hover {
  background: url('../img/compartilhe-facebook-hover.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.twitter {
  background: url('../img/compartilhe-twitter.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.twitter:hover {
  background: url('../img/compartilhe-twitter-hover.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.pinterest {
  background: url('../img/compartilhe-pinterest.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.pinterest:hover {
  background: url('../img/compartilhe-pinterest-hover.png') no-repeat center;
}
.video-interna-faixa .compartilhe a.pinterest:after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 9px;
  top: 13px;
  right: -4px;
  background: #f27ba4;
}
.video-interna-faixa .compartilhe .fb-wrapper {
  width: 56px;
  height: 21px;
  float: right;
  margin: 8px 58px 0 0;
}
.video-interna-faixa .compartilhe .fb-wrapper .fb-like {
  width: 56px;
  height: 21px;
}
.video-interna-faixa .compartilhe .fb-wrapper .fb-like span {
  width: 56px;
  height: 21px;
}
.video-interna-descricao {
  padding: 30px 0 90px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-descricao {
    padding-bottom: 25px;
  }
}
.video-interna-descricao article {
  width: 590px;
  float: left;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .video-interna-descricao article {
    width: 100%;
    float: none;
  }
}
.video-interna-descricao article .data {
  margin-top: 0;
  color: #f05a8e;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
}
.video-interna-descricao article .categoria img {
  float: left;
  margin-right: 20px;
}
.video-interna-descricao article .categoria h3 {
  margin: 0 3px 5px;
  color: #f05a8e;
  text-transform: uppercase;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
}
.video-interna-descricao article .categoria .data {
  margin-bottom: 25px;
}
.video-interna-descricao article h1 {
  color: #000;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media only screen and (max-width: 529px) {
  .video-interna-descricao article h1 {
    font-size: 18px;
  }
}
.video-interna-descricao article .descricao {
  color: #787878;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.3;
}
.video-interna-descricao article .descricao.linkFornecedor {
  margin-top: 20px;
}
.video-interna-descricao article .descricao.linkFornecedor a {
  color: #000;
  text-decoration: none;
  transition: all .3s ease;
}
.video-interna-descricao article .descricao.linkFornecedor a:hover {
  color: #f05a8e;
}
.video-interna-descricao aside {
  width: 260px;
  float: right;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-descricao aside {
    width: 100%;
    float: none;
    margin: 40px 0;
  }
}
.video-interna-descricao aside h3 {
  margin: 0;
  padding: 0 0 0 12px;
  line-height: 40px;
  width: 260px;
  height: 40px;
  background: #f05a8e;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-descricao aside h3 {
    width: 100%;
    font-size: 18px;
  }
}
.video-interna-descricao aside .veja-thumb {
  display: block;
  padding: 20px 0;
  border-bottom: 1px solid #e0e0e0;
  text-decoration: none;
  *zoom: 1;
  position: relative;
}
.video-interna-descricao aside .veja-thumb:before,
.video-interna-descricao aside .veja-thumb:after {
  content: " ";
  display: table;
}
.video-interna-descricao aside .veja-thumb:after {
  clear: both;
}
.video-interna-descricao aside .veja-thumb:last-child {
  border-bottom: 2px solid #f05a8e;
}
.video-interna-descricao aside .veja-thumb .veja-overlay {
  display: block;
  height: 73px;
  width: 120px;
  float: left;
  margin-right: 20px;
  position: relative;
}
@media only screen and (max-width: 529px) {
  .video-interna-descricao aside .veja-thumb .veja-overlay {
    margin-right: 13px;
  }
}
.video-interna-descricao aside .veja-thumb .veja-overlay:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('../img/icone-play-menor.png') no-repeat center;
  z-index: 10;
}
.video-interna-descricao aside .veja-thumb .veja-overlay:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f05a8e;
  opacity: 0;
  transition: opacity .3s ease;
}
.video-interna-descricao aside .veja-thumb p {
  width: 120px;
  float: left;
  margin: 0;
  padding: 0;
  color: #787878;
  transition: color .3s ease;
  text-decoration: none;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .video-interna-descricao aside .veja-thumb p {
    width: auto;
    float: none;
  }
}
.video-interna-descricao aside .veja-thumb:hover p {
  color: #f05a8e;
}
.video-interna-descricao aside .veja-thumb:hover .veja-overlay:before {
  opacity: .8;
}
.categorias-lista {
  width: 940px;
  margin: 0 auto;
  *zoom: 1;
  width: 840px;
  padding: 55px 0 40px;
}
.categorias-lista:before,
.categorias-lista:after {
  content: " ";
  display: table;
}
.categorias-lista:after {
  clear: both;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .categorias-lista {
    width: 90%;
  }
}
@media only screen and (max-width: 529px) {
  .categorias-lista {
    width: 90%;
  }
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .categorias-lista {
    width: 80%;
  }
}
@media only screen and (max-width: 529px) {
  .categorias-lista {
    width: 100%;
    padding: 35px 0 25px;
  }
}
.categorias-lista a {
  display: block;
  width: 280px;
  float: left;
  text-align: center;
  padding: 0 30px;
  color: #000;
  text-decoration: none;
  margin-bottom: 60px;
  opacity: 0.6;
  transition: opacity .3s ease;
  line-height: 1.3;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: 300;
}
.categorias-lista a p {
  margin: 10px 0 0;
}
.categorias-lista a:hover {
  opacity: 1;
}
@media only screen and (min-width: 530px) and (max-width: 959px), only screen and (max-width: 529px) {
  .categorias-lista a {
    width: 50%;
    font-size: 20px;
  }
  .categorias-lista a img {
    max-width: 100%;
    height: auto;
  }
}
@media only screen and (max-width: 529px) {
  .categorias-lista a {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .categorias-lista a img {
    max-width: 80%;
  }
}
.contato-frase {
  height: 80px;
  background: url('../img/pattern-cinza.png') repeat 10px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 40px;
}
@media only screen and (max-width: 529px) {
  .contato-frase {
    display: none;
  }
}
.contato-frase .valign {
  display: table;
  height: 80px;
}
.contato-frase p {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  color: #787878;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .contato-frase p {
    font-size: 17px;
  }
}
.contato {
  margin-bottom: 80px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .contato {
    margin-bottom: 40px;
  }
  .contato iframe,
  .contato #fb-root,
  .contato .fb-like-box {
    display: none;
  }
}
.contato .contato-email {
  width: 300px;
  float: left;
}
.contato .contato-email a {
  display: inline-block;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #f05a8e;
  text-decoration: none;
  transition: color .3s ease;
  margin-bottom: 35px;
  height: 26px;
  line-height: 26px;
  padding-left: 45px;
  background: url('../img/contato-icone.png') no-repeat 0px 1px;
}
.contato .contato-email a:hover {
  color: #000;
}
@media only screen and (max-width: 529px) {
  .contato .contato-email {
    width: 100%;
    margin-top: 30px;
  }
  .contato .contato-email a {
    font-size: 17px;
  }
}
.contato .contato-form {
  width: 540px;
  float: right;
}
.contato .contato-form input[type='text'],
.contato .contato-form input[type='email'],
.contato .contato-form textarea {
  width: 540px;
  height: 44px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #787878;
  outline: none;
  padding: 0 10px;
  margin-bottom: 10px;
  border: 1px solid #dbdbdb;
}
.contato .contato-form input[type='text'][name='email'],
.contato .contato-form input[type='email'][name='email'],
.contato .contato-form textarea[name='email'] {
  width: 265px;
  margin-right: 10px;
  float: left;
}
.contato .contato-form input[type='text'][name='telefone'],
.contato .contato-form input[type='email'][name='telefone'],
.contato .contato-form textarea[name='telefone'] {
  width: 265px;
}
.contato .contato-form input[type='text'][name='mensagem'],
.contato .contato-form input[type='email'][name='mensagem'],
.contato .contato-form textarea[name='mensagem'] {
  height: 138px;
  padding-top: 10px;
  resize: vertical;
}
.contato .contato-form input[type='submit'] {
  height: 44px;
  background: #f05a8e;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: 2px solid transparent;
  text-transform: uppercase;
  float: right;
  padding: 0 15px;
  letter-spacing: 1px;
  transition: color .3s ease, background .3s ease, border .3s ease;
  outline: none;
}
.contato .contato-form input[type='submit']:hover {
  color: #f05a8e;
  background: transparent;
  border: 2px solid #f05a8e;
}
.contato .contato-form .contato-response {
  display: none;
  float: left;
  height: 44px;
  line-height: 44px;
  font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 0 18px 0 44px;
  background: url("../img/contato-enviado.png") no-repeat 16px center #eeeee9;
  color: #787878;
}
@media only screen and (max-width: 529px) {
  .contato .contato-form .contato-response {
    width: 100%;
    margin-top: 10px;
    padding: 0 15px 0 42px;
  }
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .contato .contato-form .contato-response {
    font-size: 13px;
  }
}
.contato .contato-form .ajax-loading {
  display: none;
  width: 16px;
  height: 16px;
  background: url('../img/ajax-loader.gif') no-repeat center;
  float: left;
  margin-top: 16px;
}
@media only screen and (max-width: 529px), only screen and (min-width: 530px) and (max-width: 959px) {
  .contato .contato-form {
    width: 100%;
    float: none;
  }
  .contato .contato-form input[type='text'],
  .contato .contato-form input[type='email'],
  .contato .contato-form textarea {
    width: 100%;
  }
  .contato .contato-form input[type='text'][name='email'],
  .contato .contato-form input[type='email'][name='email'],
  .contato .contato-form textarea[name='email'] {
    width: 100%;
  }
  .contato .contato-form input[type='text'][name='telefone'],
  .contato .contato-form input[type='email'][name='telefone'],
  .contato .contato-form textarea[name='telefone'] {
    width: 100%;
  }
}
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  width: 820px !important;
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  padding: 0;
}
@media only screen and (min-width: 530px) and (max-width: 959px) {
  .slick-list {
    width: 80% !important;
  }
}
.slick-list:focus {
  outline: none;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 43px;
  width: 40px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -21px;
  padding: 0;
  border: none;
  outline: none;
  transition: background .3s ease;
}
.slick-prev {
  left: 0;
  background: url('../img/carousel-esq.png') no-repeat center;
}
.slick-next {
  right: 0;
  background: url('../img/carousel-dir.png') no-repeat center;
}
.slick-prev:hover {
  background-image: url('../img/carousel-esq-hover.png');
}
.slick-next:hover {
  background-image: url('../img/carousel-dir-hover.png');
}
