@import "include/_normalize";
@import "include/_base";


// TEMPLATES ======================================================================================

header {
    height: 147px;
    background: url('../img/header-bg.png') no-repeat center top #fff;
    border-top: 3px solid @rosa;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 12;
    a {
        &.logo {
            display: block;
            text-indent: -9999px;
            width: 233px;
            height: 100px;
            background: url('../img/header-logo.png') no-repeat center;
            float: left;
            margin-top: 25px;
        }
        &.facebook {
            display: block;
            text-indent: -9999px;
            width: 38px;
            height: 30px;
            background: url('../img/facebook-header.png') no-repeat center;
            margin: 87px 0 0 15px;
            float: left;
            transition: background-image .3s ease;
            &:hover {
                background-image: url('../img/facebook-header-hover.png');
            }
        }
    }
    nav {
        float: left;
        margin: 75px 0 0 42px;
        height: 69px;
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            height: 100%;
            li {
                display: inline-block;
                height: 100%;
                a {
                    display: inline-block;
                    position: relative;
                    margin: 0 20px;
                    padding-top: 15px;
                    text-decoration: none;
                    .ubuntu(18px, light);
                    color: @rosa;
                    transition: color .3s ease;
                    &:hover {
                        color: #000;
                    }
                    &.active {
                        color: #000;
                        background: url('../img/header-nav-active.png') no-repeat center top;
                    }
                }
                &.dropdown {
                    position: relative;
                    a {
                        padding-right: 15px;
                        &:after {
                            content: '';
                            display: block;
                            position: absolute;
                            right: 0;
                            bottom: 7px;
                            width: 7px;
                            height: 4px;
                            background: url('../img/icone-dropdown.png') no-repeat center;
                        }
                    }
                    &:hover > ul {
                        height: auto;
                        opacity: 1;
                        padding: 18px 18px 3px;
                    }
                    ul li a {
                        padding: 0;
                        &:after {
                            display: none;
                        }
                    }
                }
                ul {
                    white-space: nowrap;
                    transition: all .3s ease;
                    position: absolute;
                    z-index: 13;
                    top: 69px;
                    background: #000;
                    padding: 0;
                    outline: 5px solid rgba(255, 255, 255, 0.4);
                    opacity: 0;
                    height: 0;
                    overflow: hidden;
                    li a {
                        color: @rosa;
                        text-transform: uppercase;
                        .ubuntu(14px);
                        display: block;
                        transition: color .3s ease;
                        margin: 0 0 12px;
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    form {
        width: 178px;
        height: 36px;
        border: 1px solid #f6abc5;
        float: right;
        margin-top: 83px;
        position: relative;
        input[type='submit'] {
            border: 0;
            width: 36px;
            height: 36px;
            background: url('../img/icone-busca.png') no-repeat center;
            position: absolute;
            right: 1px;
            top: -1px;
            outline: none;
            transition: background-image .3s ease;
            &:hover {
                background-image: url('../img/icone-busca-hover.png');
            }
        }
        input[type='text'] {
            color: @texto;
            border: 0;
            outline: none;
            .ubuntu(13px);
            height: 34px;
            width: 140px;
            padding-left: 10px;
        }
    }
}

footer {
    background: url('../img/footer-bg.png') no-repeat center #000;
    border-top: 3px solid @rosa;
    padding: 45px 0;
    .left {
        float: left;
        nav {
            a {
                display: block;
                position: relative;
                .ubuntu(15px);
                padding-left: 20px;
                margin-bottom: 8px;
                color: @rosa;
                text-decoration: none;
                transition: color .3s ease;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 6px;
                    width: 3px;
                    height: 5px;
                    background: url('../img/footer-bullet.png') no-repeat center;
                }
                &:hover {
                    color: #fff;
                }
            }
        }
        .copyright {
            .ubuntu(10px);
            color: #4c4c4c;
            margin-top: 35px;
        }
    }
    .right {
        float: right;
        .facebook {
            display: block;
            float: right;
            text-indent: -9999px;
            width: 38px;
            height: 30px;
            background: url('../img/facebook-footer.png') no-repeat center;
            transition: background-image .3s ease;
            &:hover {
                background-image: url('../img/facebook-footer-hover.png');
            }
        }
        .email {
            position: relative;
            padding-left: 25px;
            margin: 25px 0 45px;
            clear: right;
            float: right;
            color: @rosa;
            text-decoration: none;
            transition: color .3s ease;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 4px;
                width: 13px;
                height: 9px;
                background: url('../img/icone-email.png') no-repeat center;
            }
            &:hover {
                color: #fff;
            }
        }
        .copyright {
            .ubuntu(10px);
            clear: right;
            float: right;
            position: relative;
            padding-right: 30px;
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 19px;
                height: 15px;
                right: 0;
                top: -2px;
                background: url('../img/trupe.png') no-repeat center;
            }
            a {
                color: #4c4c4c;
                text-decoration: none;
                transition: color .3s ease;
                &:hover {
                    color: #8c8c8c;
                }
            }
        }
    }
}


// HOME ===========================================================================================

.home-carousel-show {
    background: url('../img/pattern-rosa.png') repeat @rosa;
    height: 415px;
    padding: 30px 0;
    .carousel-video {
        float: left;
        width: 640px;
        height: 355px;
        position: relative;
        background: url('../img/ajax-loader.gif') no-repeat center #fff;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.75);
        iframe {
            position: relative;
            z-index: 10;
        }
    }
    .carousel-dados {
        width: 300px;
        height: 355px;
        position: relative;
        float: right;
        p {
            margin: 0;
            padding: 0 0 0 40px;
            &.data {
                .ubuntu(11px);
                color: #8b3352;
                margin-top: 10px;
                margin-bottom: 15px;
            }
            &.titulo {
                position: relative;
                .ubuntu(22px);
                color: #fff;
                text-transform: uppercase;
                line-height: 1.3;
                margin-bottom: 40px;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 40px;
                    bottom: -20px;
                    width: 20px;
                    height: 1px;
                    background: #bb466e;
                }
            }
            &.descricao {
                .ubuntu(13px);
                color: #8b3352;
                line-height: 1.3;
            }
        }
        .compartilhe {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 267px;
            height: 36px;
            background: url('../img/compartilhe-box.png') no-repeat center;
            margin-top: 12px;
            p {
                margin: 0;
                padding: 0 6px 0 30px;
                .ubuntu(11px);
                color: #f8bcd0;
                line-height: 36px;
                float: left;
            }
            a {
                position: relative;
                display: inline-block;
                width: 18px;
                height: 36px;
                text-indent: -9999px;
                transition: background .3s ease;
                &.facebook {
                    background: url('../img/compartilhe-facebook.png') no-repeat center;
                    &:hover {
                        background: url('../img/compartilhe-facebook-hover.png') no-repeat center;
                    }
                }
                &.twitter {
                    background: url('../img/compartilhe-twitter.png') no-repeat center;
                    &:hover {
                        background: url('../img/compartilhe-twitter-hover.png') no-repeat center;
                    }
                }
                &.pinterest {
                    background: url('../img/compartilhe-pinterest.png') no-repeat center;
                    &:hover {
                        background: url('../img/compartilhe-pinterest-hover.png') no-repeat center;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 1px;
                        height: 9px;
                        top: 13px;
                        right: -10px;
                        background: #f27ba4;
                    }
                }
            }
            iframe {
                width: 56px;
                float: right;
                margin: 8px 31px 0 0;
            }
        }
    }
}

.home-carousel-list {
    background: #1e1e1e;
    height: 165px;
    padding: 25px 0;
    .carousel {
        .carousel-thumb {
            width: 190px;
            height: 115px;
            margin: 0 10px;
            &.active a .carousel-overlay {
                background: rgba(240, 90, 142, 0.8);
            }
        }
        .carousel-thumb a {
            display: block;
            width: 190px;
            height: 115px;
            position: relative;
            &:hover .carousel-overlay {
                border: 2px solid @rosa;
            }
            .carousel-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                border: 2px solid transparent;
                top: 0;
                left: 0;
                background: url('../img/carousel-degrade.png') no-repeat center;
                transition: border .3s ease, background .3s ease;
                p {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    color: #fff;
                    .ubuntu(13px);
                    padding: 0 8px 8px;
                    margin: 0;
                }
            }
        }
    }
}

.home-social {
    padding: 40px 0 80px;
    .fb-like-box {
        float: left;
    }
    .home-newsletter {
        width: 470px;
        float: right;
        h3 {
            .ubuntu(20px);
            font-weight: 300;
            color: @rosa;
            text-align: center;
        }
        form {
            width: 360px;
            margin: 0 auto;
            input[type='text'], input[type='email'] {
                height: 44px;
                border: 1px solid #f6abc5;
                outline: none;
                width: 298px;
                float: left;
                margin-bottom: 10px;
                margin-right: 10px;
                color: @texto;
                padding-left: 10px;
            }
            input[type='submit'] {
                width: 52px;
                height: 98px;
                background: url('../img/icone-newsletter.png') no-repeat center @rosa;
                border: 0;
                outline: 0;
                transition: background .3s ease;
                &:hover {
                    background-color: #000;
                }
            }
        }
        .newsletter-response {
            display: none;
            text-align: center;
            margin-top: 50px;
            .ubuntu(14px, 700);
        }
    }
}

// NOSSA EMPRESA ==================================================================================

.empresa-video {
    background: url('../img/pattern-cinza.png') repeat;
    padding: 30px 0;
    border-bottom: 1px solid #e5e5e5;
}

.empresa-texto {
    padding: 30px 0 80px;
    h2 {
        padding: 0;
        margin: 0;
        font-weight: normal;
        .ubuntu(24px, 300);
        color: @rosa;
    }
    p {
        .ubuntu(14px);
        line-height: 1.4;
        color: @texto;
        width: 460px;
        margin: 15px 0 0;
        &.left { float: left; }
        &.right { float: right; }
    }
}


// VÍDEOS LISTA [SEM CATEGORIA] ===================================================================

.videos {
    padding: 30px 0 45px;
    .videos-thumb {
        width: 302px;
        height: 300px;
        float: left;
        margin-right: 17px;
        margin-bottom: 15px;
        overflow: hidden;
        text-decoration: none;
        &:hover .video-thumb img { transform: scale(1.3); }
        &:hover .video-thumb .overlay { opacity: .8; }
        &:hover .video-thumb .overlay:after { opacity: 1; background-position: center; }
        &:hover .video-descricao { color: @rosa; }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        .video-descricao {
            p { margin-top: 10px; }
            line-height: 1.4;
            color: #000;
            transition: color .3s ease;
            span {
                color: @rosa;
                display: block;
                .ubuntu(11px);
                margin-bottom: 5px;
            }
        }
        .video-thumb {
            position: relative;
            width: 302px;
            height: 182px;
            display: block;
            overflow: hidden;
            img {
                transition: all .6s ease;
            }
            .overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: @rosa;
                opacity: 0;
                transition: all .3s ease;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: url('../img/icone-play.png') no-repeat center top;
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }
    }
}

.videos-paginacao {
    position: relative;
    background: url('../img/pattern-cinza.png') repeat;
    padding: 25px 0 80px;
    border-top: 1px solid #e5e5e5;
    a {
        position: relative;
        .ubuntu(14px);
        color: @texto;
        text-decoration: none;
        transition: color .3s ease, padding .3s ease;
        &:hover {
            color: @rosa;
        }
        &.anteriores {
            float: left;
            width: 150px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 5px;
                left: 0;
                top: 6px;
                opacity: 0;
                transition: opacity .3s ease;
                background: url('../img/seta-anterior.png') no-repeat center;
            }
            &:hover {
                padding-left: 25px;
            }
            &:hover:before { opacity: 1; }
        }
        &.proximos {
            width: 150px;
            float: right;
            text-align: right;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 16px;
                height: 5px;
                right: 0;
                top: 6px;
                opacity: 0;
                transition: opacity .3s ease;
                background: url('../img/seta-proximo.png') no-repeat center;
            }
            &:hover {
                padding-right: 25px;
            }
            &:hover:before { opacity: 1; }
        }
    }
    nav {
        float: left;
        width: 640px;
        text-align: center;
        a {
            display: inline-block;
            margin: 2px 2px 0;
            text-indent: -9999px;
            width: 11px;
            height: 11px;
            border: 2px solid @rosa;
            border-radius: 100%;
            transition: background .3s ease;
            &.active {
                background: @rosa;
            }
            &:hover {
                background: @rosa;
            }
        }
    }
}


// VÍDEOS LISTA [COM CATEGORIA] ===================================================================

.categoria-titulo {
    height: 80px;
    background: url('../img/pattern-cinza.png') repeat 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
    img {
        float: left;
        margin-top: 22px;
        margin-right: 15px;
    }
    h2 {
        margin: 0;
        padding: 0;
        color: @rosa;
        line-height: 80px;
        .ubuntu(22px, 300);
    }
}

.videos-categorias {
    width: 624px;
    float: left;
   .videos-thumb {
        width: 302px;
        height: 300px;
        float: left;
        margin-right: 20px;
        margin-bottom: 15px;
        overflow: hidden;
        text-decoration: none;
        &:hover .video-thumb img { transform: scale(1.3); }
        &:hover .video-thumb .overlay { opacity: .8; }
        &:hover .video-thumb .overlay:after { opacity: 1; background-position: center; }
        &:hover .video-descricao { color: @rosa; }
        &:nth-child(2n+2) {
            margin-right: 0;
        }
        .video-descricao {
            p { margin-top: 10px; }
            line-height: 1.4;
            color: #000;
            transition: color .3s ease;
            span {
                color: @rosa;
                display: block;
                .ubuntu(11px);
                margin-bottom: 5px;
            }
        }
        .video-thumb {
            position: relative;
            width: 302px;
            height: 182px;
            display: block;
            overflow: hidden;
            img {
                transition: all .6s ease;
            }
            .overlay {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: @rosa;
                opacity: 0;
                transition: all .3s ease;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    background: url('../img/icone-play.png') no-repeat center top;
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }
    }
    .videos-categorias-paginacao {
        width: 628px;
        padding: 25px 0 80px;
        border-top: 1px solid #e5e5e5;
        margin-top: 30px;
        clear: both;
        float: left;
        a {
            position: relative;
            .ubuntu(14px);
            color: @texto;
            text-decoration: none;
            transition: color .3s ease, padding .3s ease;
            &:hover {
                color: @rosa;
            }
            &.anteriores {
                float: left;
                width: 150px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 5px;
                    left: 0;
                    top: 6px;
                    opacity: 0;
                    transition: opacity .3s ease;
                    background: url('../img/seta-anterior.png') no-repeat center;
                }
                &:hover {
                    padding-left: 25px;
                }
                &:hover:before { opacity: 1; }
            }
            &.proximos {
                width: 150px;
                float: right;
                text-align: right;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 16px;
                    height: 5px;
                    right: 0;
                    top: 6px;
                    opacity: 0;
                    transition: opacity .3s ease;
                    background: url('../img/seta-proximo.png') no-repeat center;
                }
                &:hover {
                    padding-right: 25px;
                }
                &:hover:before { opacity: 1; }
            }
        }
        nav {
            float: left;
            width: 328px;
            text-align: center;
            a {
                display: inline-block;
                margin: 2px 2px 0;
                text-indent: -9999px;
                width: 11px;
                height: 11px;
                border: 2px solid @rosa;
                border-radius: 100%;
                transition: background .3s ease;
                &.active {
                    background: @rosa;
                }
                &:hover {
                    background: @rosa;
                }
            }
        }
    }
}

.videos-categorias-aside {
    width: 260px;
    float: right;
    .categorias {
        h3 {
            margin: 0;
            padding: 0 0 0 12px;
            line-height: 40px;
            width: 260px;
            height: 40px;
            background: @rosa;
            .ubuntu(20px, 300);
            color: #fff;
        }
        a {
            position: relative;
            display: block;
            color: @texto;
            .ubuntu(13px);
            padding: 15px;
            border-bottom: 1px solid #e0e0e0;
            text-decoration: none;
            transition: color .3s ease, padding .3s ease;
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 3px;
                left: 15px;
                top: 21px;
                background: url('../img/bullet-categorias.png') no-repeat center;
                opacity: 0;
                transition: opacity .3s ease;
            }
            &:hover {
                color: @rosa;
                padding-left: 32px;
            }
            &:hover:before {
                opacity: 1;
            }
            &.active {
                color: @rosa;
                background: #f2f2f2;
                padding-left: 32px;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}


// VÍDEOS INTERNA =================================================================================

.video-interna-player {
    background: #1e1e1e;
    padding: 30px 0;
    iframe {
        position: relative;
        z-index: 10;
        &.acima {
            z-index: 99;
        }
    }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.94);
    z-index: 90;
    display: none;
}

.video-interna-faixa {
    height: 60px;
    background: url('../img/pattern-rosa.png') repeat @rosa;
    .luzes {
        position: relative;
        z-index: 99;
        float: left;
        color: #000;
        text-decoration: none;
        .ubuntu(13px);
        line-height: 60px;
        padding-left: 45px;
        background: url('../img/luzes-apagar.png') no-repeat 0 10px;
        transition: margin .2s ease;
        &.acender {
            background: url('../img/luzes-acender.png') no-repeat 0 10px;
            color: #948f91;
        }
        &:hover {
            margin-top: -3px;
        }
    }
    .compartilhe {
        position: relative;
        float: right;
        width: 267px;
        height: 36px;
        background: url('../img/compartilhe-box.png') no-repeat center;
        margin-top: 12px;
        p {
            margin: 0;
            padding: 0 6px 0 30px;
            .ubuntu(11px);
            color: #f8bcd0;
            line-height: 36px;
            float: left;
        }
        a {
            position: relative;
            display: inline-block;
            width: 18px;
            height: 36px;
            text-indent: -9999px;
            transition: background .3s ease;
            &.facebook {
                background: url('../img/compartilhe-facebook.png') no-repeat center;
                &:hover {
                    background: url('../img/compartilhe-facebook-hover.png') no-repeat center;
                }
            }
            &.twitter {
                background: url('../img/compartilhe-twitter.png') no-repeat center;
                &:hover {
                    background: url('../img/compartilhe-twitter-hover.png') no-repeat center;
                }
            }
            &.pinterest {
                background: url('../img/compartilhe-pinterest.png') no-repeat center;
                &:hover {
                    background: url('../img/compartilhe-pinterest-hover.png') no-repeat center;
                }
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 1px;
                    height: 9px;
                    top: 13px;
                    right: -10px;
                    background: #f27ba4;
                }
            }
        }
        iframe {
            width: 56px;
            float: right;
            margin: 8px 31px 0 0;
        }
    }
}

.video-interna-descricao {
    padding: 30px 0 90px;
    article {
        width: 590px;
        float: left;
        .data {
            margin-top: 0;
            color: @rosa;
            .ubuntu(13px);
        }
        .categoria {
            img { float: left; margin-right: 20px; }
            h3 { margin: 0 3px 5px; color: @rosa; text-transform: uppercase; .ubuntu(14px, 700); }
            .data { margin-bottom: 25px; }
        }
        h1 {
            color: #000;
            .ubuntu(22px, 700);
            margin-bottom: 25px;
        }
        .descricao {
            color: @texto;
            .ubuntu(14px);
            line-height: 1.3;
        }
    }
    aside {
        width: 260px;
        float: right;
        h3 {
            margin: 0;
            padding: 0 0 0 12px;
            line-height: 40px;
            width: 260px;
            height: 40px;
            background: @rosa;
            .ubuntu(20px, 300);
            color: #fff;
        }
        .veja-thumb {
            display: block;
            padding: 20px 0;
            border-bottom: 1px solid #e0e0e0;
            .clearfix();
            position: relative;
            &:last-child {
                border-bottom: 2px solid @rosa;
            }
            .veja-overlay {
                display: block;
                height: 73px;
                width: 120px;
                float: left;
                margin-right: 20px;
                position: relative;
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: url('../img/icone-play-menor.png') no-repeat center;
                    z-index: 10;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: @rosa;
                    opacity: 0;
                    transition: opacity .3s ease;
                }
            }
            p {
                width: 120px;
                float: left;
                margin: 0;
                padding: 0;
                color: @texto;
                transition: color .3s ease;
            }
            &:hover p { color: @rosa; }
            &:hover .veja-overlay:before { opacity: .8; }
        }
    }
}


// LISTA DE CATEGORIAS ============================================================================

.categorias-lista {
    .centro();
    width: 840px;
    padding: 55px 0 40px;
    a {
        display: block;
        width: 280px;
        float: left;
        text-align: center;
        padding: 0 30px;
        color: #000;
        text-decoration: none;
        margin-bottom: 60px;
        opacity: 0.6;
        transition: opacity .3s ease;
        .ubuntu(22px, 300);
        p {
            margin: 10px 0 0;
        }
        &:hover { opacity: 1; }
    }
}


// CONTATO ========================================================================================

.contato-frase {
    height: 80px;
    background: url('../img/pattern-cinza.png') repeat 10px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 40px;
    p {
        margin: 0;
        padding: 0;
        color: @texto;
        line-height: 80px;
        .ubuntu(18px, 300);
    }
}

.contato {
    margin-bottom: 80px;
    .contato-email {
        width: 300px;
        float: left;
        a {
            display: inline-block;
            .ubuntu(20px, 300);
            color: @rosa;
            text-decoration: none;
            transition: color .3s ease;
            margin-bottom: 35px;
            height: 26px;
            line-height: 26px;
            padding-left: 45px;
            background: url('../img/contato-icone.png') no-repeat 0px 1px;
            &:hover {
                color: #000;
            }
        }
    }
    .contato-form {
        width: 540px;
        float: right;
        input[type='text'], input[type='email'], textarea {
            width: 540px;
            height: 44px;
            .ubuntu(14px);
            color: @texto;
            outline: none;
            padding: 0 10px;
            margin-bottom: 10px;
            border: 1px solid #dbdbdb;
            &[name='email'] { width: 265px; margin-right: 10px; float: left; }
            &[name='telefone'] { width: 265px; }
            &[name='mensagem'] {
                height: 138px;
                padding-top: 10px;
                resize: vertical;
            }
        }
        input[type='submit'] {
            height: 44px;
            background: @rosa;
            .ubuntu(14px, 700);
            color: #fff;
            border: 2px solid transparent;
            text-transform: uppercase;
            float: right;
            padding: 0 15px;
            letter-spacing: 1px;
            transition: color .3s ease, background .3s ease, border .3s ease;
            outline: none;
            &:hover {
                color: @rosa;
                background: transparent;
                border: 2px solid @rosa;
            }
        }
        .contato-response {
            display: none;
            float: left;
            height: 44px;
            line-height: 44px;
            .ubuntu(14px);
            padding: 0 18px 0 44px;
            background: url("../img/contato-enviado.png") no-repeat 16px center #eeeee9;
            color: @texto;
        }
        .ajax-loading {
            display: none;
            width: 16px;
            height: 16px;
            background: url('../img/ajax-loader.gif') no-repeat center;
            float: left;
            margin-top: 16px;
        }
    }
}


// SLICK PLUGIN ===================================================================================

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { width: 820px !important; position: relative; overflow: hidden; display: block; margin: 0 auto; padding: 0; }
.slick-list:focus { outline: none; }

.slick-slider .slick-track { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
[dir="rtl"] .slick-slide { float: right; }
.slick-slide img { display: block; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }

/* Arrows */
.slick-prev, .slick-next {
    position: absolute;
    display: block;
    height: 43px;
    width: 40px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -21px;
    padding: 0;
    border: none;
    outline: none;
    transition: background .3s ease;
}

.slick-prev {
    left: 0;
    background: url('../img/carousel-esq.png') no-repeat center;
}
.slick-next {
    right: 0;
    background: url('../img/carousel-dir.png') no-repeat center;
}

.slick-prev:hover {
    background-image: url('../img/carousel-esq-hover.png');
}

.slick-next:hover {
    background-image: url('../img/carousel-dir-hover.png');
}